@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Успешно</p>
        <a href="javascript: history.go(-2)">Вернуться</a>
    </div>
</body>
</html>
