@model WebApplication3.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Вся информация о вас удалена</p>
        <a href="/Home/Index">Вернуться на главную страницу</a>
    </div>
</body>
</html>
