@model WebApplication3.Models.User 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "results" }))
        {
            @Html.LabelFor(model => model.Login, "Логин")
            <br />
            @Html.EditorFor(model => model.Login)
            <br />
            <br />
            @Html.LabelFor(model => model.Password, "Пароль");
            <br />
            @Html.EditorFor(model => model.Password)
            <br />
            <p>Я согласен на обработку персональных данных</p><input type="checkbox" name="ist" value="true" />
            <input type="submit" value="Зарегистрироваться" />
        }
    </div>
</body>
</html>
